<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="footer-logo">
                    <img src="./img/logo.jpg" alt="CIMC Logo" style="height:50px">
                    <span>CIMC Thailand</span>
                </div>
                <p>Leading container manufacturing and logistics solutions provider in Southeast Asia, committed to quality, innovation, and customer satisfaction.</p>
                
                <div class="social-links">
                    <a href="https://www.facebook.com/cimcthai" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/company/cimc-thailand/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.youtube.com/@cimcth1805" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a href="https://line.me/R/ti/p/@cimcthailand" target="_blank"><i class="fab fa-line"></i></a>
                </div>
            </div>
            
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="footer-title">Quick Links</h4>
                <div class="footer-links">
                    <a href="index.html"><i class="fas fa-chevron-right"></i> Home</a>
                    <a href="index.html#about"><i class="fas fa-chevron-right"></i> About Us</a>
                    <a href="product.html"><i class="fas fa-chevron-right"></i> Products</a>
                    <a href="index.html#newsevent"><i class="fas fa-chevron-right"></i> News & Events</a>
                    <a href="customer.html"><i class="fas fa-chevron-right"></i> Our Customers</a>
                    <a href="index.html#contact"><i class="fas fa-chevron-right"></i> Contact Us</a>
                </div>
            </div>
            
            <div class="col-lg-4">
                <h4 class="footer-title">Contact Information</h4>
                <div class="contact-info">
                    <p>
                        <i class="fas fa-map-marker-alt"></i>
                        <span>7/258 Moo 6, Amata City Industrial Estate, Pluak Daeng, Rayong, Thailand 21140</span>
                    </p>
                    <p>
                        <i class="fas fa-phone-alt"></i>
                        <span>+66 86 303 0526</span>
                    </p>
                    <p>
                        <i class="fas fa-envelope"></i>
                        <span>cimcth@gmail.com</span>
                    </p>
                    <p>
                        <i class="fas fa-clock"></i>
                        <span>Monday - Friday: 8:00 AM - 5:00 PM<br>Saturday: 8:00 AM - 12:00 PM</span>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="copyright">
            <p>&copy; 2025 CIMC Thailand. All Rights Reserved. | Designed with <i class="fas fa-heart text-danger"></i> for our clients</p>
        </div>
    </div>
</footer>